

@font-face {
	font-family: "title";
	src: url("assets/anirm.ttf");
}

@font-face {
	font-family: "rune";
	src: url("assets/rune.ttf");
}

@font-face {
	font-family: "textStandard";
	src: url("assets/partybusiness.ttf");
}

body *:not(h1):not(h2):not(h3) {
	font-family: textStandard;
}

body {
  background-image: url("assets/bg_light.png");
}

.rune{
	font-family: "rune";
	font-size: 150% !important;
	color: orange;
	vertical-align: bottom;
}

.tfont{
	font-family: "title";
}

.tfont-small{
	font-family: "title";
	font-size: 75%;
}

.active > .nav-link{
	border-bottom: 5px solid white;
}

.h1top{
	font-size: 150%;
}

.nav-link{
	font-size: 100%;
	padding:0;
	font-family: title;
}

.nav-item{

}

.navbar-color{
	background-color: orange;
}

.nav-sep{
    box-shadow: inset -1px 0 0 0 white; 
    width: 1px;
    height: 1.1vw;
}

.navbar-nav>li:last-child{
   border: none;
}

.maxHeightImg{
	object-fit: cover;
	max-height: 300px !important;
}


.carousel-caption {
    text-align: left;
    bottom: 50%;
    transform: translateY(50%);
}

.captionTitle{
	font-size: 260%;
}

.captionDesc{
	font-size: 160%;
}

.inline-text{
    white-space: nowrap;
    padding:0;
	max-width: unset;
}

.bordercard > p{
	border: 1px solid #a8a8a8;
	border-radius: 8px;
	background-color: #a8a8a8;
	margin: auto;
	width: 75%;
	color: black;
	box-shadow: -1px 1px 3px 5px #a8a8a8;
	font-size: 150%
}

.bordercard > h5{
	top: 100%;
  	-ms-transform: translateY(100%);
  	transform: translateY(100%);
  	color: white;
  	font-size: 250%;
}

.bordercard{
  	opacity: 0.9;
}

.dead-border{
	margin-bottom: 35%;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 30%;
	padding-bottom: 30%;
	border: 1px solid grey;
	border-radius: 15px;
	opacity: 0.8;
	background-color: grey;
}


.dead > p{
	color: orange;
	border: unset;
	background: unset;
	box-shadow: unset;
	font-size: 280%;
}

.strikeText{
	text-decoration: orange line-through;
}

.dead-image::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 290px; height: 290px;
  background-image: url(assets/gimli.png);
  filter: contrast(15%);
  filter: brightness(20%);
  margin-top:4px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 2px;
}

.gold{
	color: orange;
}

.reward-container{
	position: absolute;
	z-index:1;
}

.reward-container > p{
	transition: .3s ease;
}

.desc-container{
	position: absolute;
	width: 100%;
	bottom: 0px;
	color: white;
	font-size: 150%;
	height: 80px;
}

.card{
	width: 300px;
	height: 375px;
	text-align: center;
	margin: 0 auto;
}

.bgBlack{
	background-color:black;
	border-radius:unset;
}

.img-wrapper{
	transition: .5s ease;
}

.img-wrapper > img{
	filter: brightness(70%);
}

.flexGrow4{
	flex-grow: 0.5;
}

.imgRes{
	margin-top:4px;
	width: 290px;
	height: 290px;
	object-fit: cover;
	border-radius: 2px;
}

.shadoCard{
    position: absolute;
    width: 290px;
	height: 290px;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.8) inset;
    border-radius: 2px;
    top: 0;
    margin-left: 4px;
    margin-top:4px;
}

.card-small{
	height: 100px;
	border: none;
	background-image: url("assets/bg_light.png");
}

.card-fullWidth{
	width: 80%;
	height: 100%;
}

.card-small-elements{
	position: absolute;
	font-size: 90%;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.gollum-quote{
	font-size: 120%;
}

#footer{
	background-color: #333333;
}

.borderless td, .borderless th {
    border: none;
}

.white{
	color: white;
}

.h1section{
	margin-left: 8%;
	font-size: 160%;
	padding-bottom: 1%;
	padding-top: 1%;
	font-family: "title";
}

.h1section > span{
	font-size: 75%;
}

.gollumIsTheAuthor{
	white-space: nowrap;
	margin-left: 80%;
	color: #e5e5e5;
}

.img-wrapper > img{
	transition: .5s ease;
}

.objectCover{
	width: 250px;
	height: 200px;
	object-fit: none;
}

.gollum-img{
	background-image: url("assets/gollum.png");
	height: 100px;
	width: 100px;
	background-size: 200px 200px;
	object-fit: cover;
	background-position: center; 
	border-radius: 50%;
}

.img-wrapper:hover > img{
	filter: brightness(100%);
}

.img-wrapper:hover > .reward-container >p:not(.dedText){
	opacity: 0;
}

